.top-of-dom{
  z-index: 30;
  background-color: #1B1C1C;
}

.wipe-hover {
 overflow: hidden;
 position: relative;
 transition: 0.25s all ease-in-out;
}
.wipe-hover::after {
 clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
 transition: all 0.25s linear;
 content: "";
 position: absolute;
 width: 100%;
 top: 0;
 bottom: 0;
 z-index: 2;
 background-color: rgb(141, 218, 253);
 transform: translateX(-225%);
}
.wipe-hover:hover {
 text-decoration: none;
}
.wipe-hover:hover::after {
 transform: translateX(200%);
}
